* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

/*.header {
  margin-bottom: 1.75em;
}*/

.index-header {
  background: #FFF;
}

.hrow {
  margin-top: 0;
}

.inline {
  display: inline-flex;
}

.hero-image {
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.header-logo {
  width: 7em;
  padding: 1em 0 1em 0;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 1;
}

.search input {
  width: 30%;
}

.profile-image {
  max-width: 10em;
  border: 1px solid #eee;
  margin: 1em 0;
  border: .1em solid #eee;
}

.peak-image {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

.zero-right-margin {
  margin-right: 0;
}

.zero-left-margin {
  margin-left: 0;
}

a {
  color: #5F5AA2;
  margin: 0 1em;
}

a:hover, a:active {
  text-decoration: none;
  color: #A6B1E1;
}

.btn {
  color: #FFF;
  background-color: #5F5AA2;
  border-radius: 1.5em;
}

a.btn:hover, a.btn:active, button:hover {
  color: #FFF;
  background-color: #A6B1E1;
}

.profile-flex {
  display: flex;
  flex-direction: column;
}

.box {
  border: .1em solid #eee;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.box-content {
  padding: .5em;
}

.box-footer {
  padding: 0 1em 1em 1em;
}

.row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-flat {
  padding: .7em;
  color: #FFF;
  background-color: #5F5AA2;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #3F4045;
  color: #fbf5f3;
}

.brand-small {
  width: 5em;
  padding: 1em;
  background: #DCD6F7;
}

.copyright {
  flex: 1;
  background: #343539;
  color: #FFF;
}

.copy-title {
  padding: .75em 0;
  margin-bottom: 0;
}

.top-margin {
  margin-top: 3em;
}

.bottom-margin {
  margin-bottom: 3em;
}

.top-margin-footer {
  margin-top: .8em;
}

.diagonal-image {
  width: 100vw;
}

.list-group-item {
  background: #343539;
}

label {
  margin-top: .75em;
}

input {
  color: #FFF;
}

.btn-subscribe {
  margin-top: .8em;
}

.footer-section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.goals-image {
  height: 50px;
  width: 100%;
  object-fit: cover;
}

.table {
  table-layout: fixed;
}

@media (min-width: 768px) {
  .diagonal-image {
    width: 100vw;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
  .top-margin {
    margin-top: 5em;
  }
  .bottom-margin {
    margin-bottom: 5em;
  }
  .top-margin-footer {
    margin-top: 2em;
  }
}
